<main>
  <section>
    <div id="presentUser">
      <h1>Bem-vindo</h1>
    </div>
    <hr id="divisor-line">
    <img id="menuInic" src="../../../assets/imagens/menu.png" alt="">
    <div id="buttons">
      <button routerLink="" class="button" id="bt_ini">Página Inicial</button>
      <button routerLink="/calendarioAtiv" class="button" id="bt_calen">Calendário</button>
      <button routerLink="/aprovaAtiv" class="button" id="bt_ativ">Aprovar Atividades</button>
      <button routerLink="" class="button" id="bt_sair">Sair</button>
    </div>
  </section>

  <aside>
    <div id="btnTela3">
      <button routerLink="/menuInicial" class="botVolta" id="btnVolt">Voltar</button>
    </div>
    <p id="aproAtiv">Presença</p>
    <div id="calenPresenc">
      <label id="data" for="date">Data da Presença:</label>
      <input type="date" [(ngModel)]="dataPresenca" id="date">
    </div>
    <div id="caixaAside">
      <h1 id="nomeAside">Nome</h1>
      <h1 id="matAside">Matrícula</h1>
      <div id="perAside">
        <input
          type="text"
          [(ngModel)]="nomeCompleto"
          placeholder="Nome"
          id="nomeComple"
          [disabled]="true"
        >

        <input
          type="text"
          [(ngModel)]="cpf"
          placeholder="CPF"
          id="cpf"
          (ngModelChange)="atualizarNomePeloCpf()"
        >

        <div id="mudar">
          <button
            id="btnCheck"
            (click)="salvarPresenca()"
            [disabled]="!dataPresenca || !cpf || !nomeCompleto"
          >
            <img src="../../../assets/imagens/check.png" alt="Salvar">
          </button>

        </div>
      </div>
      <button routerLink="/presencaCalen" id="mudarPresenca">Controle de Presença</button>
    </div>
  </aside>
</main>
