<div class="caixa">
  <aside>
    <img src ="" alt="logo">
    <img src="" >
    <form action="POST">
        <input class="login-form" type="text" name="" id="login-email" placeholder="Login">
        <input class="login-form" type="password" name="" id="login-pass" placeholder="Password">
        <input  routerLink="/tela2" id="btnSub" type="submit" value="Login">
        <button routerLink="/tela2" id="forgetPass">Esqueci minha senha</button>
    </form>
    <img src="assets/logo_pjb.png" alt="Logo_pjb">
  </aside>


</div>

