<body>
  <div class="caixa">
    <aside>
      <img src ="../../../assets/imagens/logo_pjb.png">
      <img src="../../../assets/imagens/Gestão_PJB_Pag1.png" >
      <form action="POST">

          <input (click)="submit()" class="login-form" type="text" name="" id="login-email" placeholder="Login">
          <input class="login-form" type="password" name="" id="login-pass" placeholder="Password">
          <button routerLink="/tela2" id="btnSub" type="submit" value="Login"></button>

      </form>
      <img src="../../../assets/imagens/avante.png" alt="">
    </aside>


  </div>
</body>


