
<main>
  <section>
    <div id="presentUser">
        <h1>Bem-vindo,</h1>
        <span id="nomeUser">leticia</span>
    </div>
    <hr id="divisor-line">
    <div id="buttons">
        <button routerLink="" class="button" id="bt_ini">Página Inicial</button>
        <button routerLink="/tela3" class="button" id="bt_calen">Calendário</button>
        <button routerLink="" class="button" id="bt_ativ">Aprovar Atividades</button>
        <button routerLink="" class="button" id="bt_sair">Sair</button>
    </div>
  </section>
  <aside>
    <img id="logoPjb" src="../../../assets/imagens/logo_pjb.png" alt="logo_pjb">
    <img id="logoGestao" src="../../../assets/imagens/Gestão_PJB_Pag1.png" alt="Gestão">
        <div id="buttonsAside">
            <button routerLink="" class="BotPrincipal" id="cadPart">Cadastrar Participantes</button>
            <button routerLink="" class="BotPrincipal" id="createAtiv">Criar Atividades</button>
            <button routerLink="" class="BotPrincipal" id="alterData">Alterar Dados do Participante </button>
        </div>
    <img id="logoAvante" src="../../../assets/imagens/avante.png" alt="logoAvante">
  </aside>
</main>
