<main>
  <section>
    <div id="presentUser">
      <h1>Bem-vindo</h1>

    </div>
    <hr id="divisor-line">
    <div id="buttons">
      <button routerLink="" class="button" id="bt_ini">Página Inicial</button>
      <button routerLink="/tela3" class="button" id="bt_calen">Calendário</button>
      <button routerLink="/tela6" class="button" id="bt_ativ">Aprovar Atividades</button>
      <button routerLink="" class="button" id="bt_sair">Sair</button>
    </div>
  </section>
  <aside>
    <div id="btnTela3">
      <button routerLink="/tela2" class="botVolta" id="btnVolt">Voltar</button>
    </div>
    <p id="criaAtiv">Criar Atividades</p>
    <div class="perguntasAside">
      <input type="text" [(ngModel)]="nomeAtividade" placeholder="Nome da Atividade:" />
      <input type="text" [(ngModel)]="tipoAtividade" placeholder="Tipo de Atividade:" />
      <input type="text" [(ngModel)]="descricaoAtividade" placeholder="Descrição:" />
    </div>
    <div class="calendario">
      <div class="header">
        <button id="anterior" (click)="mudarMes(-1)"><</button>
        <h2 id="mesesCalen">{{ mes }} {{ ano }}</h2>
        <button id="sucessor" (click)="mudarMes(1)">></button>
      </div>
      <div class="dias">
        <div class="dia"><strong>Dom</strong></div>
        <div class="dia"><strong>Seg</strong></div>
        <div class="dia"><strong>Ter</strong></div>
        <div class="dia"><strong>Qua</strong></div>
        <div class="dia"><strong>Qui</strong></div>
        <div class="dia"><strong>Sex</strong></div>
        <div class="dia"><strong>Sáb</strong></div>
      </div>
      <div class="semanas">
        <div *ngFor="let dia of dias; let i = index" class="dia"
              [ngClass]="{'selecionado': dia === diaSelecionado}"
              (click)="selecionarDia(dia)">
          {{ dia }}
        </div>

      </div>
      <div id="als">
        <button class="button" id="bt_als" (click)="enviarAtividade()">Enviar para Análise</button>
      </div>
      </div>



  </aside>
</main>
