
<main>
  <section>
    <div id="presentUser">
        <h1>Bem-vindo</h1>
    </div>
    <hr id="divisor-line">
    <img  id="menuInic" src="../../../assets/imagens/menu.png" alt=""  >
    <div id="buttons">
        <button routerLink="" class="button" id="bt_ini">Página Inicial</button>
        <button routerLink="/calendarioAtiv" class="button" id="bt_calen">Calendário</button>
        <button routerLink="/aprovaAtiv" class="button" id="bt_ativ">Aprovar Atividades</button>
        <button routerLink="" class="button" id="bt_sair">Sair</button>
    </div>
  </section>
  <aside>

    <div id="btnTela3">
      <button routerLink="/menuInicial" class="botVolta" id="btnVolt">Voltar</button>
  </div>

    <img class="imgsPrinci" id="logo_pjb" src="../../../assets/imagens/logo_pjb.png" alt="logo_pjb">
    <img class="imgsPrinci" id="logoGestao" src="../../../assets/imagens/Gestão_PJB_Pag1.png" alt="Gestão">
        <div id="buttonsAside">
            <button routerLink="/cadastroUser" class="BotPrincipal" id="cadPart">Cadastrar Participantes</button>
            <button routerLink="/criaAtiv" class="BotPrincipal" id="createAtiv">Criar Atividades</button>
            <button routerLink="/perfilUser" class="BotPrincipal" id="alterData">Alterar Dados do Participante </button>
            <button routerLink="/presencaList" class="BotPrincipal" id="chamada">Lista de Chamada </button>
        </div>
    <img class="imgsPrinci" id="logoAvante" src="../../../assets/imagens/avante1.png" alt="logoAvante">
  </aside>
</main>
