*{

    margin: 0;
    box-sizing: border-box;
  }
  main{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    max-width: 100%;
    max-height: 100%;
    background-color: #01526F;

  }

  #divisor-line{
    width: 80%;
    border: 1.5px solid #fff;

  }

  section{
    display:grid;
    flex-direction: column;
    width: 27vw;
    height: 100vh;
    place-items: center;
    background-color: #01526F;
    box-shadow: -10px 10px 5px rgb(0, 0, 0, 0.3);
    gap: 10px;
  }

  #presentUser h1{
    color: #fff;
  }
  #presentUser span{
    color: #fff;
  }
  #presentUser{
    text-align: center;
    margin-top: 50px;
  }

  .button{
    color: #fff;
    background-color: #44A685;
    border-radius: 15px;
    border-color: #ffffff;
    box-shadow: none;

  }


  #img_princi{
    width: 20vh;
    right: 20vh;
  }
  #string_pjb{
    width: 20vh;
    right: 20vh;
  }



  aside{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #EFF5F4;
    width: 100vw;
    height: 100vh;

  }

  #buttons{
    margin-top: 20%;
    align-items: center;
    display: flex;
    flex-direction: column;

  }

    .button{
        margin-bottom: 10px;
        width: 200px;
        height: 60px;
        font-size:medium;
        font-weight: bold;
    }

    section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #btnVolt{

      align-items: center;
        position: fixed;
        left: 25%;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        color: #fff;
        background-color: #44A685;
        border-radius: 15px;
        border-color: #ffffff;
        bottom: 90%;
    }
    .calendario {
      display:block;
      position: absolute;
      background-color: #ffffff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      width: 700px;
      height: 440px;
      bottom: 0;
  }

  #perAside{
    position: absolute;
    text-align: left;
    padding: 20px;
    top: 5%;
    left:7%;
    padding-top: 20px;
    border-radius: 20px;
    background-color: #EFF5F4;
    display: flex;
    height: 55px;
    width: 670px;
    gap: 90px;
  }

  .perguntasAside{
    background-color: #EFF5F4;
  }



  .header {
      background-color: #01526F;
      color: white;
      text-align: center;
      padding: 10px;
      border-top-left-radius: 7px;
      border-top-right-radius: 8px;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 20px;

  }

  #anterior{
    width: 40px;
    height: 30px;
  }

  #sucessor{
    width: 40px;
    height: 30px;
  }

  .dias, .semanas {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
  }

  .dia {
      padding: 15px;
      text-align: center;
  }

  .dia.vazio {
      background-color: #f9f9f9;
  }

  .dia:hover {
      background-color: #e0e0e0;
  }

  #date{
    display: flex;
    position: absolute;
    left: 80%;
    top: 10%;
  }

  #data{
    display: flex;
    position: absolute;
    left: 70%;
    top: 10%;
    font-size:large;
    font-weight: bold;
  }


  #aproAtiv{
    display: flex;
    position: absolute;
    margin-top: 70px;
    font-size: 250%;
    font-family:'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: #43665A;
    justify-content: center;
    justify-items: center;
    font-weight: bold;
  }

  #nomeAtiv{
    font-size: large;
    border-color: #007BFF;
    border-width: 0cap;
    height: 50px;
    width: 500px;
    border-bottom: 2px solid #43665A;
  }

  #topoAtiv{
    font-size: large;
    border-color: #007BFF;
    border-width: 0cap;
    height: 50px;
    width: 500px;
    border-bottom: 2px solid #43665A;
  }

  #descAtiv{
    font-size: large;
    border-color: #007BFF;
    border-width: 0cap;
    height: 50px;
    width: 500px;
    border-bottom: 2px solid #43665A;
  }

  #dataCalen{
    font-size: large;
    border-color: #007BFF;
    border-width: 0cap;
    height: 50px;
    width: 500px;
    border-bottom: 2px solid #43665A;
  }

  #caixaAside{
    padding-bottom: 500px;
    height: 600px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 800px;
    position: absolute;
    top: 130px;

  }

  #mudar{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 17%;
    left: 83%;
    gap: 10px;
  }



  #btnClose{
    background-color: #f39c12;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

  }



  #btnCheck{
    background-color: #44A685;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #nomeAside{
    position: absolute;
    left: 15%;
    font-family:'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
    color: #43665A;
    padding: 2px;
  }

  #matAside{
    position: absolute;
    left: 45%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: #43665A;
    padding: 2px;

  }

  #menuInic{
    display: none;
  }
  #nomeComple{
    width: 200px;
    height: 20px;
  }

  #matricula{
    width: 200px;
    height: 20px;
  }




  #als{
    padding: 20px;
  }

  #menuInic{
    display: none;
  }


  @media (max-width:1280px){

    .button{
      width: 200px;
      height: 60px;
      z-index: 1;
      background-color: #44A685;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    #buttons{
      width: 350px;
    }

    #presentUser{
      visibility: hidden;
    }

    #aproAtiv{
      white-space: nowrap;
    }

    aside{
      padding-top: 25;
      border-top : 60px solid #01526F;
      height: 150vh;
      overflow-y: auto;
    -webkit-overflow-scrolling: touch;



    }
    .BotPrincipal{
      flex-direction: column;
      margin: 12px;
    }


    section{
      width: 0%;
      background-color: #01526F;
      z-index: 1;

    }
    section:hover #buttons{
      opacity: 1;
      visibility: visible;
    }

    section:hover{
      width: 350px;

    }

    #menuInic{
      visibility: visible;
      display: block;
      width: 50px;
    }

    #divisor-line{
      visibility: hidden;
    }

    #caixaAside{
      position: fixed;
      width: 90%;
      top: 200px;
      height: 250px;

    }

    #perAside{
      width: 85%;
      height: 1%;
      top: 10%;
      display: flex;
      align-items: center;
      grid-gap: 10px;
    }

    #nomeComple{
      width: 150px;
      left: 20px;
    }

    #matricula{
      width: 80px;
    }

    #nomeAtiv{
      width: 270px;

    }
    #topoAtiv{
      width: 270px;
    }
    #descAtiv{
      width: 270px;
    }
    #dataCalen{
      width: 270px;
    }

    #buttons{
      opacity: 0;
    }


    #btnVolt{
      opacity: 0;
    }

    #mudar{
      position: relative;
      left: 0%;
      margin: 10px;
  }

  #btnCheck{
    top: 25%;
    justify-items: center;
    width: 30px;
    height: 30px;
  }

  #btnClose{
    top: 25%;
    justify-items: center;
    width: 30px;
    height: 30px;
    
  }
  #aproAtiv{
    display: flex;
    top: 2%;
  }

  #data{
    left: 40%;
    top: 23%
  }

  #date{
    left: 70%;
    top: 23%;
  }

  }










