body{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: 0;
    background: rgb(67,102,90);
    background: linear-gradient(145deg, rgba(67,102,90,1) 0%, rgba(72,157,127,1) 100%); 
    justify-content: right;
    overflow: hidden;
    width: auto;
    height: auto;
}

#divisor-line{
    width: 70%;
    border: 1.5px solid #fff;

}

section{
    display: flex;
    flex-direction: column;
    width: 21vw;
    height: 100vh;
    align-items: center;
}

#presentUser h1{
    color: #fff;
}
#presentUser span{
    color: #fff;
}
#presentUser{
    text-align: center;
    margin-top: 50px;
}
.button{
    color: #fff;
    background-color: #44A685;
    border-radius: 15px;
    border-color: #ffffff;
    box-shadow: none;
}
aside{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #ffffffec;
    z-index: 10;
    align-items: center;
}

#img_princi{
    width: 20vh;
    right: 20vh;
}
#string_pjb{
    width: 20vh;
    right: 20vh;
}


#img-circle{
    position: fixed;
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    box-shadow: -10px 10px 5px rgb(0, 0, 0, 0.3);
    background-image: url("../images/astronauta_laranja_Pag2.png");
    background-size: contain;
    box-shadow: 10px 10px 5px rgb(0, 0, 0, 0.3);
    z-index: 11;
    bottom: -10%;
    object-fit: scale-down;
}

.button{
    margin-bottom: 10px;
    width: 200px; 
    height: 40px;
    object-fit: inherit;
}

#buttons{
    margin-top: 20%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#buttonsAside{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 60%;
    justify-content: center;
    align-items: center;
}

.BotPrincipal{
    position: relative;
    width: 250px;
    height: 20vh;
    border-radius: 30px; 
    background-color: #44A685;
    color: #fff;
    border-width: 2px solid black;
    box-shadow:  0 0 5px black;
    font-weight: bolder;
    font-size: larger;
    margin-right: 20px;
    margin-top: 10px;
}


@media screen and (min-width: 1960px){
    .BotPrincipal{
        width: 400px;
        height: 20vh;
    }

    #img-circle{
        width: 40vh;
        height: 40vh;
        bottom: -7%;
    }

    .button{
        margin-bottom: 10px;
        width: 300px; 
        height: 60px;
    }


    section{
        display: flex;
        flex-direction: column;
        width: 15vw;
        height: 100vh;
        align-items: center;
    }
}


