body{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: 0;
    background: rgb(67,102,90);
    background: linear-gradient(145deg, rgba(67,102,90,1) 0%, rgba(72,157,127,1) 100%); 
    justify-content: right;
    overflow: hidden;
    width: auto;
    height: auto;
}


section{
    display: flex;
    width: 50vw;
    height: 100vh;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 100vh;
    background-color: #fff;
    z-index: 10;
    box-shadow: -10px 10px 5px rgb(0, 0, 0, 0.3);
}

img{
    width: 40px;
}

aside form{
    display: flex;
    flex-direction: column;
}

.login-form{
    width: 20vw;
    height: 5vh;
    border: none;
    box-shadow: none;
    text-align: center;
    border-bottom: 1px solid #43665A;
}

.circle{
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -10px 10px 5px rgb(0, 0, 0, 0.3);
}

#orange-circle{
    background-color: #D97632;
    top: -10%;
    right: 45%;
    z-index: 0;
}

#green-circle{
    background-color: #44A685;
    top: -20%;
    right: 55%;
}

#blue-circle{
    background-color: #3E8A9A;
    width: 15vw;
    height: 15vw;
    bottom: -3%;
    right: 47%;
    z-index: 1;
}

#pasta-circle{
    background-color: #EBC385;
    width: 10vw;
    height: 10vw;
    right: 55%;
    bottom: 10%;
    z-index: 0;
}

#img-circle{
    background-image: url("../images/imgLog.png");
    background-size: contain;
    bottom: -4%;
    left: -3%;
    box-shadow: 10px 10px 5px rgb(0, 0, 0, 0.3)
}

