<body>
  <div class="caixa">
    <aside>
      <button routerLink="" class="botVolta" id="btnVolt">Voltar</button>

      <img src="../../../assets/imagens/logo_pjb.png" alt="Logo PJB" />
      <img src="../../../assets/imagens/Gestão_PJB_Pag1.png" alt="Gestão PJB" />

      <div class="forget-password-container">

        <div *ngIf="!tokenRecebido">
          <h2 id="forgeth2">Digite seu e-mail para recuperação de senha</h2>
          <form #recuperacaoForm="ngForm" (ngSubmit)="solicitarRecuperacao()">
            <div>
              <label for="email">E-mail:</label>
              <input
                type="email"
                id="email"
                name="email"
                [(ngModel)]="email"
                required
              />
            </div>
            <button type="submit" id="btnenv" [disabled]="!recuperacaoForm.valid">
              Enviar
            </button>
          </form>
        </div>


        <div *ngIf="tokenRecebido">
          <h2 id="resetPasswordTitle">Redefinir Senha</h2>
          <form #resetForm="ngForm" (ngSubmit)="resetarSenha()">
            <div>
              <label for="token">Token:</label>
              <input
                type="text"
                id="token"
                [(ngModel)]="token"
                name="token"
                required
              />
            </div>
            <div>
              <label for="novaSenha">Nova Senha:</label>
              <input
                type="password"
                id="novaSenha"
                [(ngModel)]="novaSenha"
                name="novaSenha"
                required
              />
            </div>
            <button type="submit" [disabled]="!resetForm.valid">
              Redefinir Senha
            </button>
          </form>
        </div>


        <p *ngIf="mensagem">{{ mensagem }}</p>
      </div>
    </aside>
  </div>
</body>
